<template>
  <v-container>
    <v-row d-flex justify="center">
      <v-card style="width:400px;">
        <v-img class="white--text align-end" src="@/assets/login_header.jpg">
          <v-card-title primary-title>
            Login
          </v-card-title>
        </v-img>
        <v-card-text>
          <v-form @submit.prevent="submit">
            <!-- username -->
            <v-text-field
              name="username"
              label="username"
              id="username"
              v-model="account.username"
            />

            <!-- password -->
            <v-text-field
              name="password"
              label="password"
              id="password"
              :append-icon="isShowPassword ? 'visibility' : 'visibility_off'"
              @click:append="isShowPassword = !isShowPassword"
              :type="isShowPassword ? 'text' : 'password'"
              counter
              v-model="account.password"
            />

            <v-row class="justify-space-between px-3 pt-3">
              <v-btn text @click.prevent="$router.push('/register')"
                >Register</v-btn
              >
              <v-btn type="submit" class="success">Login</v-btn>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      isShowPassword: true,
      account: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    submit() {
      this.$router.push("/stock");
      this.$store.dispatch({
        type: "doLogin",
        username: this.account.username,
        password: this.account.password,
      });
    },
  },
};
</script>
<style></style>
