<template>
 <v-container>
   <v-card class="mx-auto pa-5" outlined>
    <v-form @submit.prevent="submit">
        <v-text-field v-model="product.name" :counter="10" label="Name" required></v-text-field>

        <v-text-field v-model="product.price" suffix="THB" type="number" label="Price"  required></v-text-field>

        <v-text-field v-model="product.stock" suffix="PCS" type="number" label="Stock" required ></v-text-field>
        <input @change="onFileSelected" type="file" name="" id ="">
        <br/>
        <v-img v-if="imageURL" :src="imageURL" height="200" width="200" class="mt-3"></v-img>
        <br/>
        <v-row>
          <v-spacer></v-spacer>
          <v-btn class="mr-4" @click="cancel">Cancel</v-btn>
          <v-btn type="submit" color="success">Confirm</v-btn>
        </v-row>
    </v-form>

    <span>{{product}}</span>
   </v-card>
 </v-container>
</template>
<script>
export default {
    data:()=>({
        product:{
        name:"",
        price:"",
        stock:"",
        image:null
        } ,
        imageURL:null

    }),
    methods:{
      submit(){
        alert(JSON.stringify(this.product))
      },
      onFileSelected(event) {
      const reader = new FileReader();
      reader.onload = event => {
        // for preview
        this.imageURL = event.target.result;
      };
      reader.readAsDataURL(event.target.files[0]);

      // for upload
      this.product.image = event.target.files[0];
    },
       cancel(){
         this.$router.back();
       }
    }

};
</script>
<style></style>
