<template>
 <v-container>
   <v-card>
     123
   </v-card>
 </v-container>
</template>
<script>
export default {
    data:()=>({
        product:{
        name:"",
        price:"",
        stock:"",
        image:null
        } ,
        imageURL:null

    })

};
</script>
<style></style>
